:root {
  --boardSize: 100%;
}

.board {
  position: relative;
  width: 700px;
  height: 700px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  cursor: pointer;
}

.board-center {
  position: absolute;
  width: var(--boardSize);
  height: var(--boardSize);
  background-color: rgb(31, 11, 50);
  transform: scale(0.27);
  border-radius: 50%;
}

.arrows-circle {
  position: absolute;
  width: calc(var(--boardSize) * 0.7);
  height: calc(var(--boardSize) * 0.7);
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.oponents-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.circle {
  position: absolute;
  width: calc(var(--boardSize) * 0.6);
  height: calc(var(--boardSize) * 0.6);
  border-radius: 100%;
  background-color: rgb(31, 11, 50);
  display: flex;
  justify-content: center;
  font-size: 3rem;
  z-index: 10;
  --hover-color: hsl(271, 80%, 30%);

  &:hover {
    background-color: var(--hover-color);
  }

  &:nth-child(3) {
    font-size: 3.2rem;
    transform: scale(0.8);
    background-color: hsl(271, 63%, 20%);
    z-index: 13;

    &:hover {
      background-color: var(--hover-color);
    }
  }
  &:nth-child(4) {
    font-size: 3.6rem;
    transform: scale(0.6);
    z-index: 14;

    &:hover {
      background-color: var(--hover-color);
    }
  }
  &:nth-child(5) {
    font-size: 3.5rem;
    transform: scale(0.43);
    background-color: hsl(271, 63%, 20%);

    z-index: 15;
    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.board-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100%;

  svg {
    padding-top: 10%;
  }
}
