.board {
  position: relative;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-center {
  position: absolute;
  width: 800px;
  height: 800px;
  background-color: hsl(34, 100%, 55%);
  transform: scale(0.3);
  border-radius: 50%;
}

.circle {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  background-color: hsl(271, 63%, 12%);
  display: flex;
  justify-content: center;
  font-size: 3rem;

  &:nth-child(2) {
    font-size: 3.2rem;
    transform: scale(0.8);
    background-color: hsl(271, 63%, 20%);
  }
  &:nth-child(3) {
    font-size: 3.6rem;
    transform: scale(0.6);
  }
  &:nth-child(4) {
    font-size: 3.5rem;
    transform: scale(0.43);
    background-color: hsl(271, 63%, 20%);
  }
}

.board-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 3rem;
  padding-top: 1rem;
}
