.board {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.board-center {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(34, 100%, 55%);
  transform: scale(0.3);
  border-radius: 50%;
}

.arrows-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: hsl(126, 100%, 55%);
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.circle {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background-color: hsl(271, 63%, 12%);
  display: flex;
  justify-content: center;
  font-size: 3rem;

  &:nth-child(3) {
    font-size: 3.2rem;
    transform: scale(0.8);
    background-color: hsl(271, 63%, 20%);
  }
  &:nth-child(4) {
    font-size: 3.6rem;
    transform: scale(0.6);
  }
  &:nth-child(5) {
    font-size: 3.5rem;
    transform: scale(0.43);
    background-color: hsl(271, 63%, 20%);
  }
}

.board-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100%;

  svg {
    width: 80%;
    padding-top: 10%;
  }
}
